*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #260581;
}
.main{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.container{
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 30px solid #260581;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
               inset 0 -15px 15px rgba(255,255,255,0.05),
               0 15px 15px rgba(0,0,0,0.3),
               inset 0 15px 15px rgba(0,0,0,0.3);
}
h1{
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
}
button{
    font-size: 25px;
    margin: 8px;
    padding:8px 15px;
    border-radius: 8px;
    background: coral;
    color: #fff;

}